<%= render 'form_update', drink: @post%>
<!--<h3 style="text-align:center">수정</h3>-->

<!--      <br />-->
<!--<form action="/updateDrink/:id" method="patch">-->
<!--<@%=form_tag(update_path, method:"patch") do %>-->
<!--    <@%= hidden_field_tag :authenticity_token,form_authenticity_token %>-->
<!--    <div class="form-group">-->
<!--      <label for="InputTitle1">TITLE</label>-->
<!--      <input type="text" name="post_title" value="<@%=@post.title%>" class="form-control">-->
<!--    </div>-->

<!--    <div class="form-group">-->
      
<!--   <@%= @post.cover %>-->
 
<!--      <label for="exampleTextarea">CONTENT</label>-->
<!--      <textarea class="form-control"  id="InputContent" name = "post_content" value = "<%=@post.content%>" rows="12">-->
        
<!--<@%=@post.content%>-->
<!--      </textarea>-->
<!--    </div>-->

    <!--<div class="form-group">-->
    <!--  <input type="file" class="form-control-file" id="exampleInputFile" aria-describedby="fileHelp" accept="image/*" name="pic">-->
    <!--</div>-->
<!--    <div class="button_fam">-->
<!--      <p style=text-align:center><input type = "submit" value = "작성완료" class="btn btn-secondary" ></p> -->
<!--    </div>-->
 <!--<p style=text-align:center><a href="/drink/index">작성완료</a></p>-->
<!--<@%end%>-->