<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body>
    <form action="/chat/create" method="get" >
        <div class="form-group">
            <label for="exampleFormControlInput1">Title</label>
            <input type="text" class="form-control" id="post_title">
        </div>
        <br />
        <div class="form-group">
            <label for="exampleFormControlTextarea1">Content</label>
            <textarea class="form-control" id="post_content" rows="3"></textarea>
        </div>

        <div class="form-group">
            <input type="file" class="form-control-file" id="exampleFormControlFile1">
        </div>

         <a href="/chat/show" class="btn btn-secondary" >Submit</a>
    
 
    </form>

</body>